<!-- Page Header Start-->
<div class="page-header">
    <div class="header-wrapper m-0">
        <div class="header-logo-wrapper p-0">
            <div class="logo-wrapper">
                <a href="">
                    <img class="img-fluid main-logo" src="/images/login/logos/logo.png" alt="logo">
                    <img class="img-fluid white-logo" src="/images/login/logos/logo.png" alt="logo">
                </a>
            </div>
            <div class="toggle-sidebar">
                <i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i>
                <a href="">
                    <img src="/images/login/logos/logo.png" class="img-fluid" alt="">
                </a>
            </div>
        </div>


        <div class="nav-right col-6 pull-right right-header p-0">
            <ul class="nav-menus">
                <li style="display: list-item !important;" class="profile-nav onhover-dropdown pe-0 me-0">
                    <div class="media profile-media">
                        <div class="user-name-hide media-body">
                            <span></span>
                            <p class="mb-0 font-roboto">Admin<i class="middle ri-arrow-down-s-line"></i></p>
                        </div>
                    </div>
                    <ul class="profile-dropdown onhover-show-div">
                        <li style="display: list-item !important;">
                            <a href="/admin/order/all-orders">
                                <i data-feather="users"></i>
                                <span>Work Order</span>
                            </a>
                        </li>
                        <li style="display: list-item !important;">
                            <a href="/admin/inventory/product-list">
                                <i data-feather="archive"></i>
                                <span>Inventory</span>
                            </a>
                        </li>
                        
                        <li style="display: list-item !important;">
                            <a href="/admin/auth/add-bank-data">
                                <i data-feather="archive"></i>
                                <span>Add Bank Data</span>
                            </a>
                        </li>
                        
                        <li style="display: list-item !important;">
                            <a href="/admin/auth/bank-transfer">
                                <i data-feather="archive"></i>
                                <span>Bank Transfer</span>
                            </a>
                        </li>
                        <li style="display: list-item !important;">
                            <a class="pass-btn" 
                                href="/admin/auth/change-password">
                                <i data-feather="log-out"></i>
                                <span>Reset Password</span>
                            </a>
                        </li>
                                
                                
                            
                        
                        
                            
                
                        <li style="display: list-item !important;">
                            <a class="logout-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                href="/admin/auth/logout">
                                <i data-feather="log-out"></i>
                                <span>Log out</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Header Ends-->